* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.top-container,
.footer {
    background: #1f2937;
}

.navbar.logo {
    font-size: 24px;
    color: #f9faf8;
}

a,
.hero-sec,
.footer {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    gap: 20px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.introduction {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.left-container,
.intro.image {
    width: 400px;
}

.intro-btn {
    color: #f9faf8;
    background: #3882f6;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    margin-bottom: 25px;
}

.info-header h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.item {
    width: 150px;
    height: 100px;
    /* border: 1px solid black; */
}

.information {
    margin-bottom: 25px;
}

.quote-container {
    background: #e5e7eb;
    padding: 30px 0;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.author {
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.advertising {
    border: 1px solid black;
    background: #3882f6;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    padding: 20px 40px;
}

.adv-btn {
    color: #f9faf8;
    background: #3882f6;
    padding: 8px 25px;
    display: block;
    border-radius: 8px;
    border: 1px solid white;
}

.text {
    color: #f9faf8;
}

p {
    color: #e5e7eb;
}

.footer {
    text-align: center;
    padding: 34px 0;
}

.adv-btn,
.intro-btn {
    font-size: 13px;
}

a {
    font-size: 13px;
    display: block;
}
